 
  /* navbar............... */
 /* For mobile devices (up to 992px) */
 @media (max-width: 992px) {
  .navbar-nav {
    margin: 0; /* Adjust the margin as per your requirement */
  }
  .nav-item {
    margin: 0 20px ;
    margin-bottom:-50px; /* Adjust the horizontal margin as per your requirement */
  }
  .button1 {
      margin: 0 20px ;
      margin-bottom:-0px; 
  }
}
  .search_icon_nav{
    background-color: #27A4DE;
    color: #FEFEFE;
    border-radius:50px;
    padding-top: 7px;
      width:40px;
     height: 40px; 

     stroke-width: 1.5px;
    margin-left: -10px;
  }
  
  .jcom_logo{
    width: 247px;
  height: 62.561px;
  flex-shrink: 0;

}
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .navbar-nav {
    display: inline-flex;
    align-items: flex-start;
    gap: 54px;
  }
  
  #navlink2 {
    color: #000;
    font-family: poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
  }
  
  
  
  #navlink2:hover{
    color: #27A4DE;
    /* font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; */
    
  }
  .button1{
    display: inline-flex;
    padding: 6px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 9px;
  background: #27A4DE;
  color: white;
  border-color: white;
  }
  
  
   
/* section1 */
.section1 {
background-color: #F8F8F8;
/* background-color: #fcdddd; */
/* background-size: cover; */
margin-top:50px;
margin-bottom: 40px;
margin-left:80px;
margin-right:80px;
padding:10px;
}
.card1 {
  margin:10px;
}

.bhavi-iamge {
width: 310px;
height: 136px;
flex-shrink: 0;
}
.profile-card-pic {
border-radius: 227px;
}

.sec1-heading {
color: #444;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.ceo {
color: #555;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.sec1-para1 {
color: #222;
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}
.sec1-para2 {
color: #555;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.sec1-para3 {
color: #555;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
/* text-transform: capitalize; */
}
.icon {
width: 19px;
height: 19px;
flex-shrink: 0;
}

/* section2 */
.section2 {
/* margin-top:100px; */
/* margin-bottom: 400px; */

}
.card {
border:none;
}
.card-head3 {
color: #111;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.card-head1 {
color: #111;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.card-head2 {
color: #555;
font-family: Poppins;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}
.years {
color: #222;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

/* section3 */

.sec3-heading {
color: #111;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
text-transform: capitalize;
}

.card-text {
color: #555;
font-family: Poppins;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 156.119%; /* 23.418px */
text-transform: capitalize;
/* width: 605px;
height: 92px; */
flex-shrink: 0;
}

.sec4-heading {
color: #222;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: capitalize;
}

.sec4-img {
height:100px;
width:100px;
border-radius:180px;
}
.container4 {
margin:100px;
}

/* footer */

.footer_bg{
background: var(--secondary-600, #073C55);

}
.footer_heading{
/* padding-top: 18px;
text-decoration: none;
color:white;
font-size: 17.652px;
font-style: normal;
font-weight: 600;
line-height: normal; */

color: #FFF;

font-family: 'Inter', sans-serif;
font-size: 17.652px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-decoration: none;
}
.footer_menu{
color: #FFF;
text-decoration: none;
font-family: 'Inter', sans-serif;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.foot_pad{
color: white;
background-color: #032B3E;
height: 70px;

}
/* mobile view */
.section2 {
background-color: #F8F8F8;

margin-bottom: 70px;
margin-top:-20px;
}

/* cards */
.card-img-top {
height: 200px;
width:30px;
border-radius:50%;
}

.carousel-control-prev-icon {
  background-color:rgb(107, 218, 238);
  border-radius:25px;
}

.carousel-control-next-icon {
  background-color:rgb(107, 218, 238);
  border-radius:25px;
}


  .inner-header{
	 
    padding-top: 10px;
    margin-bottom: -15px;
 }
 .inner-header{ min-width:100%; padding:2px 0; color:#fff;		background: linear-gradient(to right, #3b2b98, #01a3d4, #df0e86);
 }
 .inner-header .container{ position:relative; z-index:2;}
 .inner-header .container h1{ font-weight:800; font-size:30px; margin:10px 0;}

 .marque_anc{
	text-decoration: none;
}

.text-center{
	text-align: center;
	justify-content: center;

}

/* owl carousel */
.owl-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: #27A4DE;
  border-radius: 50%;
  cursor: pointer;
}
.owl-dot.active {
  background-color: #333;
}
.owl-carousel .item {
    display: flex;
    flex-direction: row;
  }
  
  .owl-carousel .item h4 .card {
    margin-right: 50px; /* Adjust the margin as needed for spacing between headings */
  }
  .owl-carousel .card-body {
    height:270px;
    width:200px;
    padding:10px;
  }

  .owl-carousel .item .card {
    margin-right: 10px; /* Adjust the margin as needed for spacing between cards */
    border: 1px solid #ddd; /* Add a border color */
    border-radius: 8px; /* Add border-radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a box shadow for a subtle lift */
    background-color: #fff; /* Set background color to white */ 
  }
  .card img {
    max-width: 50px;
    max-height: 50px;
  }
  h5 p {
    text-align:center;
  }

.service-heading {
  color: var(--gray-gray-900, #1A202C);
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 55px; /* 275% */
}



/* Media query for smaller screens */
@media (max-width: 992px) {
  .card {
    width: 100%; /* Set the width to 100% for smaller screens */
  }
  .owl-carousel .card-body {
    height:50px;
    width:200px;
    padding:2px;
  }
  .card img {
    max-width: 100px;
    max-height: 100px;
  }
}

.circle-icon-container {
	position: fixed;
	
	bottom: 20px;
	right: 20px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px; /* Add some padding for spacing */
  }
  .circle-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	background-color: #3b2b98;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
    text-decoration: none;
 
  }

  .circle-icon i {
	font-size: 24px; /* Adjust the font size as needed */
  }


  .circle-icon-container .circle-icon a:hover{
	color:aqua;
	text-decoration: none;
  }